[submodule "AWS/submodules/quickstart-aws-vpc"]
	path = AWS/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "AWS/submodules/quickstart-aws-acm-certificate"]
	path = AWS/submodules/quickstart-aws-acm-certificate
	url = https://github.com/aws-quickstart/quickstart-aws-acm-certificate.git
	branch = main
