[submodule "AWS/Robot/submodules/quickstart-aws-vpc"]
	path = AWS/Robot/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "AWS/Orchestrator/submodules/quickstart-aws-vpc"]
	path = AWS/Orchestrator/submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "AWS/Orchestrator/submodules/quickstart-aws-acm-certificate"]
	path = AWS/Orchestrator/submodules/quickstart-aws-acm-certificate
	url = https://github.com/aws-quickstart/quickstart-aws-acm-certificate.git
	branch = main
[submodule "AWS/Robot/docs/boilerplate"]
	path = AWS/Robot/docs/boilerplate
	url = https://github.com/aws-quickstart/quickstart-documentation-base-common.git
