[submodule "submodules/quickstart-aws-vpc"]
	path = submodules/quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
	branch = main
[submodule "submodules/quickstart-aws-acm-certificate"]
	path = submodules/quickstart-aws-acm-certificate
	url = https://github.com/aws-quickstart/quickstart-aws-acm-certificate.git
	branch = main
[submodule "scripts"]
	path = scripts
	url = https://github.com/UiPath/cloud-marketplace-common.git
	branch = main


