<powershell>
Set-ExecutionPolicy Bypass -Scope Process -Force; [System.Net.ServicePointManager]::SecurityProtocol = [System.Net.ServicePointManager]::SecurityProtocol -bor 3072; iex ((New-Object System.Net.WebClient).DownloadString('https://community.chocolatey.org/install.ps1'))
choco install microsoft-edge ssms -y
(New-Object System.Net.WebClient).DownloadFile("https://download.uipath.com/UiPathStudio.msi","C:\Windows\Temp\UiPathStudio.msi")
Start-Process msiexec.exe -Wait -ArgumentList '/I "C:\Windows\Temp\UiPathStudio.msi" /q'
</powershell>
